@media (max-width:767px) {
    body {
        height: 1500px;;
        }
    #fotolgsm{
        width: 350px; 
        height: 250px;
    
    }
        #fotolgsm {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
    
        #lenguaje{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, 20%);
        
        }
        .row {
            width: 500px; 
            height: 400px;
            position: absolute;
            top: 170%;
            left: 70%;
            transform: translate(-50%, -50%);
            



        }
}
@media (min-width:767px) and (max-width:1080px) {
    body {
        height: 1800px;;
        }
    #fotolgsm{
        width: 750px; 
        height: 350px;
    
    }
        #fotolgsm {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
    
        #lenguaje{
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, 20%);
        
        }
        .row {
            width: 1000px; 
            height: 400px;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            



        }
}
@media (min-width:1080px) {
    body {
        height: 1500px;;
        }
    #fotolgsm{
        width: 800px; 
        height: 400px;
    
    }
        #fotolgsm {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
    
        #lenguaje{
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, 20%);
        
        }

        .row {
            width: 1000px; 
            height: 400px;
            position: absolute;
            top: 170%;
            left: 50%;
            transform: translate(-50%, -50%);
            



        }
}