

    @media (max-width:767px) {
        body {
            height: 1100px;;
            }
        #fotolgsm{
            width: 400px; 
            height: 300px;
        
        }
            #fotolgsm {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                
            }
        
            #lenguaje{
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, 20%);
            
            }
    }
    @media (min-width:767px) and (max-width:990px) {
        body {
            height: 750px;;
            }
        #fotolgsm{
            width: 750px; 
            height: 350px;
        
        }
            #fotolgsm {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                
            }
        
            #lenguaje{
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, 20%);
            
            }
    }
    @media (min-width:990px) {
        body {
            height: 1000px;;
            }
        #fotolgsm{
            width: 1000px; 
            height: 400px;
        
        }
            #fotolgsm {
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                
            }
        
            #lenguaje{
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, 20%);
            
            }
    }
    
    
    
    
    














