
@media (max-width:767px) {
    body {
        height: 2400px;;
        }
    #foto1{
        width: 350px; 
        height: 250px;

    }
        #carouselExampleIndicators {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 250px;
            width: 350px; 
        }
        #asir{
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 20%);
        
        }
}
@media (min-width:767px) and (max-width:1080px) {
    body {
        height: 2400px;;
        }
        #foto1{
            width: 750px; 
            height: 550px;
        }
        #carouselExampleIndicators {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 550px;
            width: 750px; 
        }
        #asir{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, 30%);
        
        }
        #maps {
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, 30%);
        }
}
   
@media (min-width:1080px) {
    body {
        height: 2200px;;
        }
    
        #carouselExampleIndicators {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 500px;
            width: 1200px;
            
        }
        #asir{
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, 30%);
        
        }
        #maps {
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, 30%);
            width: 300px;
            height: 300px;
        }

    }




